body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
}

.menu {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.menu h1 {
    margin-bottom: 20px;
}
.menu button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18x;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}
.menu button:hover {
    background-color: #0056b3;
}
.modal-content {
    text-align: left;
}

audio {
    display: none;
}

#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
    cursor: pointer;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

